In [4]:
import pandas as pd

# Load dataset
df = pd.read_csv("../data/party_data.csv")

# Convert date column to datetime
df['date'] = pd.to_datetime(df['date'])

# Save cleaned version
df.to_csv("../data/party_data_cleaned.csv", index=False)

# Preview
df.head()

,event_name,date,day_of_week,event_time,weather_temp,weather_condition,instagram_posts,avg_likes,hashtag_count,buzz_words_in_caption,turnout_level
0,Fall Kickoff Social,2024-09-26,Thursday,Evening,62,Rainy,97,105,5,5,High
1,Midnight Mixer,2024-11-13,Wednesday,Afternoon,65,Rainy,82,217,19,4,High
2,Halloween House Jam,2024-11-12,Tuesday,Night,48,Snowy,89,283,10,3,High
3,Outdoor Day Party,2024-11-29,Friday,Evening,69,Clear,53,195,18,4,Medium
4,Winter Formal,2024-11-28,Thursday,Afternoon,52,Snowy,88,237,2,7,High